body {
    font-family: "Audiowide", sans-serif;
}
.great-grandparent {
    display:flex;
    /* flex-direction:column; */
    width:100vh;
    height:100vh;
}
.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 20rem;
    height: 20rem; 
  }
  
  .row {
    display: flex;
    flex-direction: column;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 100%; 
    height: 100%; 
  }

  /* .player-right {
    display:flex;
    flex-direction:row-reverse;
  } */