body {
    font-family: "Audiowide", sans-serif;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    flex: 1;
    border: 1px solid #000;
  }